<div class="list-container">
	<div class="list-wrapper" [attr.tabindex]="isWin ? '-1' : '0'">
		<h2 class="list-title" #listTitle>Remaining Battleships</h2>
		<div class="list">
			<div>
				<div class="list-item-container">
					<p
						class="battleship-title"
						aria-live="assertive"
						role="status"
					>
						{{
							this.smallBattleships > 0
								? this.smallBattleships +
								  ' Small battleships remaining'
								: 'No small battleship remaining'
						}}
					</p>
					<img
						class="battleship-icon"
						src="assets/battleship.svg"
						alt="Battleship icon"
						aria-hidden="true"
					/>
				</div>
			</div>
			<div>
				<div class="list-item-container">
					<p
						class="battleship-title"
						aria-live="assertive"
						role="status"
					>
						{{
							this.mediumBattleships > 0
								? this.mediumBattleships +
								  ' Medium battleships remaining'
								: 'No medium battleship remaining'
						}}
					</p>
					<div>
						<img
							*ngFor="let x of [].constructor(2)"
							class="battleship-icon"
							src="assets/battleship.svg"
							alt="Battleship icon"
							aria-hidden="true"
						/>
					</div>
				</div>
			</div>
			<div>
				<div class="list-item-container">
					<p
						class="battleship-title"
						aria-live="assertive"
						role="status"
					>
						{{
							this.largeBattleships > 0
								? this.largeBattleships +
								  ' Large battleships remaining'
								: 'No large battleship remaining'
						}}
					</p>
					<div>
						<img
							*ngFor="let x of [].constructor(3)"
							class="battleship-icon"
							src="assets/battleship.svg"
							alt="Battleship icon"
							aria-hidden="true"
						/>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
