<div class="list-container">
	<div class="list-wrapper">
		<h2 class="list-title" tabindex="0" #listTitle>
			Remaining Battleships
		</h2>
		<div class="list">
			<div>
				<div class="list-item-container">
					<h4
						class="battleship-title"
						tabindex="0"
						[attr.aria-label]="
							this.smallBattleships + ' Small battleship remain'
						"
						aria-live="polite"
					>
						Small battleships
					</h4>
					<div class="battleship-container">
						<img
							class="battleship-icon"
							src="../../../assets/battleship.svg"
							alt="battleship-icon"
							*ngFor="
								let smallBattleship of [].constructor(
									smallBattleships
								)
							"
						/>
					</div>
				</div>
			</div>
			<div>
				<div class="list-item-container">
					<h4
						class="battleship-title"
						tabindex="0"
						[attr.aria-label]="
							this.mediumBattleships + ' Medium battleship remain'
						"
						aria-live="polite"
					>
						Medium battleships
					</h4>
					<div class="battleship-container">
						<img
							class="battleship-icon"
							src="../../../assets/battleship.svg"
							alt="battleship-icon"
							*ngFor="
								let mediumBattleship of [].constructor(
									mediumBattleships
								)
							"
						/>
					</div>
				</div>
			</div>
			<div>
				<div class="list-item-container">
					<h4
						class="battleship-title"
						tabindex="0"
						[attr.aria-label]="
							this.largeBattleships + ' Large battleship remain'
						"
						aria-live="polite"
					>
						Large battleships
					</h4>
					<div class="battleship-container">
						<img
							class="battleship-icon"
							src="../../../assets/battleship.svg"
							alt="battleship-icon"
							*ngFor="
								let largeBattleship of [].constructor(
									largeBattleships
								)
							"
						/>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
