<div class="flex-container">
	<div class="lists-container">
		<app-battleship-destroyer
			[cells]="cells"
			class="battleship-destroyer"
			(onAttack)="onAttack($event)"
		></app-battleship-destroyer>
		<app-battleship-list
			#list
			class="list"
			[smallBattleships]="smallBattleships"
			[mediumBattleships]="mediumBattleships"
			[largeBattleships]="largeBattleships"
			[isWin]="isWin"
		></app-battleship-list>
	</div>
	<div class="container">
		<div class="x"></div>
		<div class="number-container">
			<span *ngFor="let x of xAxis">{{ x }}</span>
		</div>
		<div class="letter-container">
			<span *ngFor="let y of yAxis">{{ y }}</span>
		</div>
		<div class="grid-container">
			<div class="grid-wrapper" #container>
				<ng-container *ngFor="let y of yAxis">
					<button
						*ngFor="let x of xAxis"
						(click)="onCellClick($event)"
						class="cell"
						[attr.aria-label]="y + x"
						aria-live="polite"
						[id]="y + '_' + ParseInt(x)"
					></button>
				</ng-container>
			</div>
		</div>
	</div>
</div>
<app-new-game-modal
	(startNewGame)="onStartNewGame($event)"
	(rowsChange)="configGrid($event)"
	(cellsToDiss)="setCellsToDissapear($event)"
	(islandsNumber)="setIslandNum($event)"
	#newGameModal
	tabindex="-1"
></app-new-game-modal>
<app-win-modal
	*ngIf="this.isWin"
	(startnewGame)="openStartModal()"
></app-win-modal>
