@import '../../../variables.scss';

@mixin show($bgColor) {
	background-color: $bgColor;
	animation: show 300ms ease-in-out;
}

.new-game-btn {
	font-size: 20px;
	border: none;
	padding: 0.75em;
	cursor: pointer;
	background-color: #2a7eec;
	color: white;
	border-radius: 30px;

	&:hover,
	&:focus {
		background-color: #1153aa;
		border: none;
		outline: none;
	}
}

.container {
	background-color: #ccc;
	display: grid;
	grid-template-columns: repeat(10, 7vmin);
	grid-template-rows: repeat(10, 7vmin);
	gap: 0.5vmin;
	padding: 0.5vmin;
	border-radius: 0.5vmin;
	position: relative;
}

.letter-container,
.number-container {
	position: absolute;
	display: flex;
	font-size: 20px;
	color: #fff;
	justify-content: space-around;
	align-items: center;
}

.number-container {
	width: 100%;
	top: -7vmin;
}

.letter-container {
	height: 100%;
	flex-direction: column;
	left: -7vmin;
}

.cell {
	background-color: #999;
	border-radius: 0.5vmin;
	border: none;
	cursor: pointer;

	&:hover:not(.clicked):not(.won),
	&:focus:not(.clicked):not(.won) {
		background-color: #777;
		border: none;
		outline: none;
	}
}

.clicked {
	cursor: auto;
}

.no-battleship {
	@include show(rgb(0, 223, 0));
}

.battleship {
	@include show(rgb(211, 0, 0));
}

.won {
	@include show(rgb(0, 98, 211));
	cursor: auto;
}

.modal-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 2em;
	gap: 2em;

	h1 {
		text-align: center;
	}
}

@keyframes show {
	0% {
		opacity: 0.5;
		transform: scale(0);
	}
}

@media screen and (min-width: $M_Phones) {
	.number-container {
		top: -6vmin;
	}

	.letter-container {
		left: -6vmin;
	}
}

@media screen and (min-width: $L_Phones) {
	.number-container {
		top: -5.5vmin;
	}

	.letter-container {
		left: -5.5vmin;
	}
}

@media screen and (min-width: $Tablets) {
	.number-container {
		top: -5vmin;
	}

	.letter-container {
		left: -5vmin;
	}

	.letter-container,
	.number-container {
		font-size: 25px;
	}
}

@media screen and (min-width: $Laptops) {
	#grid {
		td {
			width: 2.5rem;
			height: 2.5rem;
		}
	}
}
